input.txt
output.txt
*.pyc
.venv/pyvenv.cfg
.venv/Scripts/python.exe
.venv/Scripts/pythonw.exe
dist/code_selection.exe
build/code_selection/Analysis-00.toc
build/code_selection/base_library.zip
build/code_selection/code_selection.pkg
build/code_selection/EXE-00.toc
build/code_selection/PKG-00.toc
build/code_selection/PYZ-00.pyz
build/code_selection/PYZ-00.toc
build/code_selection/warn-code_selection.txt
build/code_selection/xref-code_selection.html
build/code_selection/localpycs/pyimod01_archive.pyc
build/code_selection/localpycs/pyimod02_importers.pyc
build/code_selection/localpycs/pyimod03_ctypes.pyc
build/code_selection/localpycs/pyimod04_pywin32.pyc
build/code_selection/localpycs/struct.pyc
code_selection.exe
code_selection.spec
build/code_modifier/Analysis-00.toc
build/code_modifier/base_library.zip
build/code_modifier/code_modifier.pkg
build/code_modifier/EXE-00.toc
build/code_modifier/PKG-00.toc
build/code_modifier/PYZ-00.pyz
build/code_modifier/PYZ-00.toc
build/code_modifier/warn-code_modifier.txt
build/code_modifier/xref-code_modifier.html
build/code_modifier/localpycs/pyimod01_archive.pyc
build/code_modifier/localpycs/pyimod02_importers.pyc
build/code_modifier/localpycs/pyimod03_ctypes.pyc
build/code_modifier/localpycs/pyimod04_pywin32.pyc
build/code_modifier/localpycs/struct.pyc
dist/code_modifier.exe
code_modifier.spec
