input.txt
output.txt
.venv/pyvenv.cfg
.venv/Scripts/python.exe
.venv/Scripts/pythonw.exe
dist/code_selection.exe
build/code_selection/Analysis-00.toc
build/code_selection/base_library.zip
build/code_selection/code_selection.pkg
build/code_selection/EXE-00.toc
build/code_selection/PKG-00.toc
build/code_selection/PYZ-00.pyz
build/code_selection/PYZ-00.toc
build/code_selection/warn-code_selection.txt
build/code_selection/xref-code_selection.html
build/code_selection/localpycs/pyimod01_archive.pyc
build/code_selection/localpycs/pyimod02_importers.pyc
build/code_selection/localpycs/pyimod03_ctypes.pyc
build/code_selection/localpycs/pyimod04_pywin32.pyc
build/code_selection/localpycs/struct.pyc
code_selection.exe
code_selection.spec
